@font-face {
    font-family: 'Dots All For Now JL';
    src: url(fonts/DotsAllForNow.ttf);
}
::-webkit-scrollbar {
    width: 0.2vw;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: var(--fontxsmall);
    background: rgba(255, 255, 255, 0.50);
}
.loader {
    border: 0.65vh solid #f3f3f3; 
    border-top: 0.65vh solid rgba(255, 255, 255, 0.05); 
    border-radius: 50%;
    width: 25.5vh;
    aspect-ratio: 1/1;
    animation: spin 2s linear infinite;
    margin-top: 2.2vh;
    margin-bottom: 2.7vh;
  }
  .loader-cont{
    position: relative;
    pointer-events: none;
  }
  .loader-cont span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vh;
    font-weight: 700;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
:root{
    --fontxsmall: 1.3vh;
    --fontsmall: 1.48vh;
    --fontmedium: 1.85vh;
    --fontlarge: 1.2vw;
    --fontxl: 1.4vw;
    --padlittle: clamp(5px, 0.5vw, 25px);
    --padmedium: clamp(10px, 0.7vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.7rem, 0.8vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.8vw, 30px);
}
button{
    border: none;
    color: inherit;
}
.flexsmall{
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.flexlittle{
    display: flex;
    gap: calc(0.5 * var(--gap));
    align-items: center;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-display{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: translateY(-5vh);
}
.hide-header{
    display: none;
}
.hide-slide{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: translateX(5%);
}
*{
    padding: 0;
    margin: 0;
    line-height: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-style: normal;
}
body{
    background: url(images/background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.display{
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.vignette{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    background: rgba(0, 0, 0, 0.84);
    backdrop-filter: blur(12px);
}
.container{
    position: absolute;
    bottom: -8.1vh;
    height: 104.6vh;
    aspect-ratio: 1080/1130;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.14vh;
    border-radius: 2.6vw;
    border: 1.3vw solid #4F4F4F;
    overflow: hidden;
}
.close-menu{
    position: absolute;
    top: 6.9vh;
    right: 6.9vh;
    z-index: 7;
    cursor: pointer;
}
.close-menu svg{
    width: 4.8vh;
    height: 4.8vh;
}
.escape-btn{
    display: flex;
    position: absolute;
    bottom: 2.47vw;
    right: 2.47vw;
    gap: 1.5625vw;
    z-index: 7;
}
.escape-btn span{
    color: #292929;
    font-size: var(--fontxsmall);
    font-weight: 800;
    height: 1.97vw;
    width: 1.97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5vw;
}
.escape-btn div{
    border-radius: var(--fontxsmall);
    border: 0.1vw solid rgba(255, 255, 255, 0.25);
    padding: 0.2vw;
    opacity: .25;
    cursor: pointer;
}
.escape-btn p{
    font-family: 'Outfit';
    color: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    font-size: var(--fontmedium);
    font-weight: 600;
}
.escape-btn div:hover{
    opacity: 1;
}
.close-menu:hover svg path{
    fill-opacity: 1;
}
header{
    background: url(images/header.png);
    /* width: 64.63vh; */
    height: 15vh;
    aspect-ratio: 698/162;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.6vh;
}
header div{
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.85), 0px 0px 85px #FFF;
    font-family: 'Neonderthaw';
    font-size: 7.4vh;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    width: max-content;
    padding: 0.56vw;
}
main{
    display: flex;
    gap: 1.85vh;
    justify-content: space-between;
}
aside{
    width: 21.85vh;
    overflow: hidden;
    aspect-ratio: 236/826;
    background: url(images/aside-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.4vh;
}
.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.1vw;
    border-radius: 0.935vh;
    overflow: hidden;
    margin-bottom: 1.85vh;
}
.keys p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 3.125vw; */
    /* height: 3.125vw; */
    aspect-ratio: 1/1;
    color: rgba(255, 255, 255, 0.65);
    font-size: var(--fontmedium);
    font-weight: 700;
    background: url(images/black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35) inset;
    cursor: pointer;
}
.backspace svg, .enter svg{
    width: var(--fontmedium);
    height: var(--fontmedium);
}
.mode-of-payment{
    margin-bottom: 7.2vh;
    /* overflow: hidden; */
}
.mode-of-payment section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* aspect-ratio: 184/50; */
    padding: 1.1vh;
    /* background: url(images/Textures.png); */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* border: 0.185vh solid rgba(255, 255, 255, 0.01); */
    cursor: pointer;
}
.card{
    border-radius: 0.925vh 0.925vh 0 0;
    background: url(images/card-bg.png);
}
.cash{
    border-radius: 0 0 0.925vh 0.925vh;
    background: url(images/cash-bg.png);
}
.mode-of-payment section svg{
    width: 2.2vh;
    height: 2.2vh;
}
.mode-of-payment section p{
    color: #FFFFFF40;
    font-size: 1.667vh;
    font-weight: 800;
}
.mode-of-payment section .mode{
    display: flex;
    align-items: center;
    gap: var(--fontsmall);
}
.mode div{
    width: 1.3vh;
    height: 1.3vh;
    background-color: #FFFFFF40;
    border-radius: 50%;
    position: relative;
}
.mode-of-payment section:hover .mode span{
    width: 0.925vh;
    height: 0.925vh;
}
.pay{
    width: 100%;
    aspect-ratio: 184/50;
    cursor: pointer;
}
.pay:hover .path-change{
    fill-opacity: 0.2;
}
aside form{
    margin:0 auto 1vw auto;
    text-align: center;
    padding: 1.2vh;
    width: 100%;
    aspect-ratio: 192/152;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(images/form-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
aside form p{
    color: #FFF;
    text-align: center;
    font-family: 'Dots All For Now JL';
    font-size: var(--fontsmall);
    font-weight: 400;
    line-height: 107.3%;
    margin-bottom: 4vh;
}
aside form input{
    color: rgba(255, 255, 255, 0.45);
    font-family: 'Dots All For Now JL';
    font-size: 2.22vh;
    font-weight: 400;
    background: transparent;
    width: 9.25vh;
    border: none;
    outline: none;
    text-align: center;
    padding-bottom: 1.1vh;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.35);;
}
.keys-container{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.6vw;
    border: 0.5vw solid #4F4F4F;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.65) inset, 0px 0px 150px 0px rgba(0, 0, 0, 0.45);
}
.keys-container section{
    width: 18.541vw;
    aspect-ratio: 356/532;
    background: url(images/test.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.num-alpha{
    width: 16.04vw;
    aspect-ratio: 306/484;
    border-radius: 1.526vw;
    /* border: 0.3125vw solid rgba(255, 255, 255, 0.01); */
    background: url(images/num-alpha.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.35) inset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.4166vw;
    padding: 1vw;
    /* border: 0.3125vw solid rgba(255, 255, 255, 0.01); */
}
.num-alpha div{
    width: 4.166vw;
    aspect-ratio: 1/1;
    padding: .5vw;
    /* background: url(images/rounded-key-bg.svg); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35) inset;
}
.num-alpha p{
    color: rgba(255, 255, 255, 0.65);
    font-size: var(--fontlarge);
    font-weight: 700;
    background: url(images/black.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.num-alpha div:hover p{
    color: rgba(255, 255, 255, 0.90);
}
.num-alpha div:active p{
    color: #FFF;
}
.num-alpha div:active{
    background: rgba(0, 0, 0, 0.25);
}
.vending-machine{
    width: 64.63vh;
    aspect-ratio: 698/832;
    background: url(images/shelf.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5.185vh 4.26vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    grid-template-rows: fit-content(100);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2vh;
}
.product{
    position: relative;
    width: 10.185vh;
    aspect-ratio: 110/144;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.product .price{
    cursor: pointer;
    color: #FFF;
    font-family: 'Dots All For Now JL';
    font-size: var(--fontsmall);
    font-weight: 400;
    border-radius: 0.925vh;
    border: 0.185vh solid rgba(0, 0, 0, 0.65);
    background: #0f0f0f;
    width: 100%;
    aspect-ratio: 110/30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product div{
    width: 10.185vh !important;
    aspect-ratio: 110/110 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(33, 33, 33); */
    background: url(images/product-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: 0.925vh; */
    /* border: 0.185vh solid rgba(0, 0, 0, 0.65); */
    cursor: pointer;
}
.product-number{
    color: #FFF;
    font-family: 'Dots All For Now JL';
    font-size: var(--fontsmall);
    width: 4.63vh;
    aspect-ratio: 50/30;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.2vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.925vh;
    z-index: 2;
    pointer-events: none;
    border: 0.185vh solid rgba(0, 0, 0, 0.65);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #0F0F0F;
}
.product div img{
    max-width: calc(0.75 * 10.185vh);
    max-height: calc(0.75 * 10.185vh);
    object-fit: contain;
}
.product:hover div{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #0F0F0F;
    backdrop-filter: blur(22.5px);
}
.product:active div{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), #0F0F0F;
}
.product:hover div img{
    transform: scale(1.05);
}
.product:hover .price{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), #0F0F0F;
}
.product:active .price{
    background: linear-gradient(0deg, #000 0%, #000 100%), #0F0F0F;
}
.active div, .active:hover div{
    background: url(images/product-selected.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* background: linear-gradient(0deg, rgba(29, 120, 227, 0.55) 0%, rgba(29, 120, 227, 0.55) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #0F0F0F; */
    backdrop-filter: blur(22.5px);
}
.active .price, .active:hover .price{
    background: linear-gradient(0deg, rgba(29, 120, 227, 0.85) 0%, rgba(29, 120, 227, 0.85) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #0F0F0F;
}
.active .product-number, .active:hover .product-number{
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    color: #000;
}
#a5 div{
    border-top-right-radius: 1.85vh !important;
}
#a1 div{
    border-top-left-radius: 1.85vh !important;
}
.content-container{
    position: relative;
}
.order-pop-up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    /* background: rgba(0, 0, 0, 0.45); */
    /* border-radius: 20px; */
}
.order-pop-up p{
    color: rgba(255, 255, 255, 0.65);
    font-size: var(--fontmedium);
}
.progress-bar{
    margin-top: 2.2vh;
    margin-bottom: 2.7vh;
    position: relative;
    width: 25.5vh;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 90px 0px rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    border: white 0.65vh solid;
}
.order-pop-up .loader-cont svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.order-pop-up .loader-cont img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.order-pop-up h4{
    font-size: 2.22vh;
}
.order-pop-up h4::first-letter{
    text-transform: capitalize;
}
.order-pop-up button{
    padding: 1.85vh 2.3vh;
    color: rgba(255, 255, 255, 0.95);
    font-size: var(--fontxsmall);
    letter-spacing: 0.8px;
    border-radius: 1.85vh;
    border: 1px solid rgba(255, 255, 255, 0.10);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    font-weight: 700;
    pointer-events: all;
}
.method-active p{
    color: #4E9DFA !important;
}
.method-active svg path{
    fill: #4E9DFA;
    fill-opacity: 1;
}
.method-active .mode div{
    background: #4E9DFA;
    border: 0.277vh solid rgba(29, 120, 227, 0.65);
}
